boby {
    background-image: url(pngtree-cute-cartoon-sparrow-bird-clipart-illustration-png-image_16445508.png); /*白色被酒*/
    background-size: cover;
    background-position: center;
    
    color: black;/*黑色文字*/
    overflow: hidden ;/*隱藏滑輪*/
}

.container {
    text-align: center; /* 文字置中 */
}

p {
    font-size: 35px;
}

h1 {
    font-size: 50px; /* 增加標題字體大小 */
    margin-bottom: 20.5px; /* 標題下方間距 */
}

ul {
    list-style-type: none; /* 移除列表項目符號 */
    padding: 0; /* 移除內邊距 */
}

li {
    margin: 10px 0; /* 列表項目上下間距 */
}

.grid {
    display: grid; /* 使用 Grid 佈局*/
    grid-template-columns: repeat(4,1fr); /* 設定 4 列，寬度平均分配*/
    grid-template-rows: repeat(2,auto); /* 設定 2 行，每列的高度根據內容自適應*/
}

.button {
    display: inline-block; /* 使按鈕顯示為行內塊 */
    width: 200px; /* 固定按鈕寬度 */
    height: 50px; /* 固定按鈕高度 */
    padding: 10px; /* 按鈕內邊距 */
    background-color: #1e90ff; /* 按鈕背景顏色 */
    color: #ffffff; /* 按鈕文字顏色 */
    text-decoration: none; /* 移除下劃線 */
    border-radius: 5px; /* 按鈕圓角 */
    font-size: 1.2em; /* 按鈕文字大小 */
    transition: background-color 0.3s; /* 背景顏色過渡效果 */
    line-height: 50px; /* 垂直置中 */
}

.button:hover {
    background-color: #007acc; /* 滑鼠懸停時改變背景顏色 */
}
